In [1]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [3]:
import webbrowser
website = 'https://en.wikipedia.org/wiki/List_of_all-time_NFL_win%E2%80%93loss_records'
webbrowser.open(website)

True

In [4]:
nfl_frame = pd.read_clipboard()

In [5]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor

In [6]:
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [11]:
nfl_frame['First NFL season']

0    1960
1    1921
2    1996
3    1960
4    1920
Name: First NFL season, dtype: int64

In [12]:
DataFrame(nfl_frame, columns =['Team','First NFL season','Division'])

                   Team  First NFL season   Division
0        Dallas Cowboys              1960   NFC East
1     Green Bay Packers              1921  NFC North
2      Baltimore Ravens              1996  AFC North
3  New England Patriots              1960   AFC East
4         Chicago Bears              1920    NFC Nor

In [15]:
# Retrieve Rows of a Dataframe tail grabs from last and head grabs from the first columns

nfl_frame.tail(2)

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor

In [24]:
# Retrieving values from a specific row dfname.iloc function
nfl_frame.iloc[3]

Rank                                   4
Team                New England Patriots
GP                                   966
Won                                  537
Lost                                 420
Tied                                   9
Pct.                               0.561
First NFL season                    1960
Division                        AFC East
Name: 3, dtype: object

In [25]:
DataFrame(nfl_frame, columns =['Team','First NFL season','Division','Stadium'])

                   Team  First NFL season   Division  Stadium
0        Dallas Cowboys              1960   NFC East      NaN
1     Green Bay Packers              1921  NFC North      NaN
2      Baltimore Ravens              1996  AFC North      NaN
3  New England Patriots              1960   AFC East      NaN
4         Chicago Bears              1920    NFC Nor      NaN

In [26]:
nfl_frame['Stadium'] = 'Levis Stadium'

In [27]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levis Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levis Stadium
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levis Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levis Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor,Levis Stadium

In [28]:
nfl_frame['Stadium'] = np.arange(5)
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor,4

In [29]:
stadium = Series(['Levis Stadium','At&T Stadium'],index = [4,0])

In [30]:
stadium

4    Levis Stadium
0     At&T Stadium
dtype: object

In [32]:
nfl_frame['Stadium'] = stadium
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,At&T Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,NaN
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,NaN
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,NaN
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor,Levis Stadium

In [33]:
del nfl_frame['Stadium']

In [34]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC Nor

In [35]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [36]:
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000